<?xml version="1.0"?>
<!--
  ~ This file is part of the Billbee API package.
  ~
  ~ Copyright 2017 - 2020 by Billbee GmbH
  ~
  ~ For the full copyright and license information, please read the LICENSE
  ~ file that was distributed with this source code.
  ~
  ~ Created by Julian Finkler <julian@mintware.de>
  -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Billbee API Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
