<!--
  ~ This file is part of the Billbee API package.
  ~
  ~ Copyright 2017 - 2019 by Billbee GmbH
  ~
  ~ For the full copyright and license information, please read the LICENSE
  ~ file that was distributed with this source code.
  ~
  ~ Created by Julian Finkler <julian@mintware.de>
  -->

<phpunit bootstrap="tests/autoload.php">
    <testsuites>
        <testsuite name="Billbee API Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>